<h1> Welcome to <%= @restaurant.name %>'s Page!</h1>

<h1> Here's a list of all the pizzas this restaurant has:</h1>

<h2><% @restaurant.pizzas.each do |pizza|%></h2>
<ul>
  <li>
<%=link_to pizza.name, pizza %>
</li>
</ul>

<%end%><br>
<div><h2><%= link_to "Create New Pizza", new_pizza_path%></h2></div>
<%=link_to "All Restaurants Page", restaurants_path%>
